@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;

	@supports (-webkit-touch-callout: none) {
		min-height: -webkit-fill-available;
	}
}

.test-css {
	bottom: -25px;
	width: 100%;
	list-style: none;
	text-align: center;
	padding: 0;
}

.test-css li {
	position: relative;
	display: inline-block;
	width: 4px;
	height: 4px;
	/*margin: 1px;*/
	padding: 7px;
	cursor: pointer;
}

.test-css li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 4px;
	height: 4px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: 0;
	background: 0 0;
}

.test-css li button:before {
	font-size: 1.6rem;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 4px;
	height: 4px;
	content: '•';
	text-align: center;
	opacity: 0.75;
	color: #e6e6e6;
}

.test-css li.slick-active button:before {
	opacity: 0.75;
	color: #e73b3b;
}
/* 폰트 가져오기 -> tailwind.config.js에서 적용 */
@font-face {
	font-family: 'Pretendard-Light';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Bold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Semibold';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
		format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Medium';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
		format('woff');
	font-weight: 500;
	font-style: normal;
}

/* 스크롤바 숨기기 */
@layer utilities {
	.hide-scroll::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}

	.hide-scroll {
		scrollbar-width: none; /* Firefox */
	}
}
